@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Photoshoot";
  src: url("/fonts/Photoshoot/Photoshoot.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
}

.imagen {
  transition: all 500ms linear;
}

.imagen .hijo {
  transition: all 500ms;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
}

.imagen:hover .hijo {
  transform: translateX(0);
}

.menu {
  transition: all 500ms linear;
}

.textShadow {
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.content {
  flex: 1 1 auto;
}

.fade-anim img {
  animation: fadeAnim 0s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.shim {
  position: relative;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 0.5);
}
.shim::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 0.75) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  animation: shimmer 15s ease infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(0%);
    /* opacity: ; */
  }
}


.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: auto;
  height: 8px;
  background: #c5c5c5;
  border-radius: 8px;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 0.5);
}

.dot:focus {
  outline: none;
}

.dot:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 0.75) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  animation: shimmer 15s ease infinite;
  content: "";
}

.dot.active {
  background: #000;
}

.keen-slider {
  transition: height 0.3s;
}

.keen-slider .keen-slider__slide {
  min-height: auto !important;
}


/*Slider productos*/

.navigation-wrapper {
	position: relative;
  }
  
  .arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	fill: #fed403;
	cursor: pointer;
  }
  
  .arrow--left {
	left: 5px;
  }
  
  .arrow--right {
	left: auto;
	right: 5px;
  }
  
  .arrow--disabled {
	fill: rgba(255, 255, 255, 0.5);
  }

  /*Slider productos*/

  .carta-box {
  /* margin: 10px; */
  width: 250px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  /* overflow: hidden; */
  justify-content: center;
  
}

.carta-box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
  
 
}

.cara.detras {
  transform: rotateY(180deg); 
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background:rgba(250, 203, 198);
  width: 258px;
  height: 383px;
  border-radius: 10px;

}

/* Card Blog */
img {
  height: auto;
  max-width: 100%;
}

.card__image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  min-height: 240px;
  overflow: hidden;
  position: relative;
}
.card__image > img {
  display: block;
  margin-bottom: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.card__image:hover > img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.card__title {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.75em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card__overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card__overlay--indigo {
  background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), rgba(92, 107, 192, 0.8));
  z-index: 2;
}

.card__overlay--blue {
  background-image: linear-gradient(to bottom, rgba(41, 182, 246, 0.1), #F5867D);
  z-index: 2;
}

.card__overlay-content {
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  z-index: 3;
}

.card__meta {
  margin: 0;
  margin-right: -1em;
  margin-bottom: 0.75em;
}
.card__meta.card__meta--last {
  margin-bottom: 0;
}
/* Card Blog */


.map-div{
  width: 30%;
  margin: auto;
}

.map-div path{
  fill: #fed403;
  stroke: #000;
  stroke-width: 3px;

}

.map-div :hover{
  fill: #000;
  /* stroke: #cacaca; */
}

/* map-div path img{
  src: local("/imagen/logoMapa.png");
} */

