@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/photograph-signature'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap'); */


html {
  scroll-behavior: smooth;
}

body{
 font-family: 'Lato', sans-serif
}

@font-face {
  font-family:"Cinzel Decorative",
  "Photograph Signature";
  src: url(/public/fonts/cinzel-decorative.woff2), url(/public/fonts/photograph-signature.woff);


}

.nosotros {
  position: relative;
  overflow: hidden;
}

/* .nosotros * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
} */

.nosotros figcaption {
  position: absolute;
  	-webkit-transition: all 0.4s;
  	transition: all 0.9s;
}

.nosotros figcaption:before {
  position: absolute;
  z-index: 2;
  left: 0;
}

.nosotros:hover figcaption,
.nosotros.hover figcaption {
  bottom: 6px;

 
}

.identidad {
  position: relative;
  overflow: hidden;
}

/* .identidad * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.60s ease;
  transition: all 0.60s ease;
} */

.identidad figcaption {
  position: absolute;
  
}

.identidad figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  left: 0;
}

.identidad:hover figcaption,
.identidad.hover figcaption {
  bottom: 6px;
}